@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website was created as part of the coursework for 
        Distributed Sytems and Cloud Computing module at WIUT</p>
    <p>Done by the student with Id 00012256</p>
</div>
